/*COTIZAR*/
.encabezadocotizar {
    background-image: url(../assets/descargactotizar.jpg);
    background-size: cover;
    background-position: center;
    height: 300px; }
    main .encabezadocotizar h1 {
      font-size: 60px;
      -webkit-text-fill-color: #fff;
      -webkit-text-stroke: black 2px; }