/*FLOTA*/
#textos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



#techf {
    transition: background-color 300ms ease-out;
      }
      
#techf:hover {
    background-color: rgba(237, 12, 12, 0.29);
      }

